.navbar-container{
    height: 5%;
}

.drawer-container{
    width: 100%;
    height: 95%;
}

.sidebar-container{
    height: 100%;
}

.content-container{
    width: 100%;
    height: 100%;
}

.icon-container{
    position: absolute;
    left: 97%;
    top: 50%;
}